.main-box {
    display: flex;
}

.main h1 {
    font-family: STXihei;
    font-size: 200%;
    color: #707070;
}

.left {
    margin: 2%;
    margin-left: 2%;
    /* margin-right: 10%; */
    flex: 0 0 15%;
    height: fit-content;;
}

.right{
    position: relative;
    margin: 2%;
    margin-right: 2%;
    flex: 1;
    background-color: white;
    box-shadow: 2px 2px 5px #e0e0e0;
    
}

.right h2 {
    font-family: STXihei;
    color: #707070;
    margin: 2%;
    font-size: 20px;
}

.right hr {
    width: 98%;
    border-color: #fefefe;
}

.username {
    background-color: white;
    height: fit-content;
    padding: 10%;
    background-color: white;
    box-shadow: 2px 2px 5px #e0e0e0
}

.username img {
    display:block;
    width: 60px;
    height: 60px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.username p {
    text-align: center;
    font-family: STXihei;
    color: #707070;
}

.links {
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: white;
    margin-top: 10%;
    background-color: white;
    box-shadow: 2px 2px 5px #e0e0e0
}

.links ul {
    padding: 0px;
    margin: 0px;
}

.links li{
    text-decoration: none;
    list-style: none;
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: left;
    padding-left: 20%;
}

.links li:hover {
    background-color: #fdf6f6;
}

.links a {
    text-decoration: none;
    color: #707070;
    font-family: STXihei;
}

.links li.selected {
    background: linear-gradient(to right, #e03c3c 3%, #fce9e9 3%) !important;
}

.credit {
    padding: 3%;
    margin-bottom: 50px;
}

.credit-detail {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
}

.credit-detail.even {
    background-color: #f2f2f2;
}

.card-brand {
    order: 1;
    flex: 1;
    flex-wrap: nowrap;
}

.card-brand img {
    height: 60px;
    margin: 0px;
    margin-left: 20%;
    display: block;
}

.card-info {
    order: 2;
    flex: 2;
    flex-wrap: nowrap;
}

.card-info p {
    font-family: STXihei;
    color: black;
    font-size: 14px;
    margin: 0 auto;
    padding: 0px;
    display: block
}

.c-n {
    font-size: 18px !important;
    margin-top: 10px !important;
}

.c-i{
    display: flex;
}

.c-i p {
    flex: 1;
}

.card-edit {
    order: 4;
    flex: 1;
    flex-wrap: nowrap;
}

.card-edit .edits {
    display: none;
    background-color: transparent;
    border: none;
    outline: 0;
    cursor: pointer;
    vertical-align: middle;
    margin-top: 10px;
}

.card-edit img {
    width: 20px;
    height: 20px;
    margin: 5px;
    margin-top: 10px;
}

.credit-detail:hover {
    background-color: #fce9e9;
}

.default-card {
	display:none;
    position: relative;
    background-color: white;
    border: #d3d3d3 solid 1px;
    color: #707070;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 30px;
    vertical-align: middle;
    outline: 0;
    cursor: pointer;
    float: left;
    top:20%;
}

.default-card.selected {
	display:block;
    background-color: #e03c3c; opacity: 0.7;
    color: white;
    border: #e03c3c solid 1px;
    cursor: text;
}

.add {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 50px;
    margin-top: 50px;
}

.add-button {
    cursor: pointer;
    background-color: #e03c3c;
    width: 12%;
    height: 60%;
    text-align: center;
    color: white;
    border-radius: 30px;
    outline: 0;
    opacity: 1;
}

.add-button:hover {
    opacity: 0.8;
}