.main {
    width: 70%;
    height: fit-content;
    margin: 0 auto;
    min-width: 1100px;
    min-height: 450px;
    font-family: STXihei;
    color: #707070;
    font-size: 100%;
    margin-bottom: 50px;
}

.wrap {
    position: relative;
    width: 100%;
    height: fit-content;
    padding: 0px;
    margin: 0px;
    display: block;
}

.wrap ul {
    position: relative;
    display: block;
    overflow: auto;
    padding: 0px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: fit-content;
    border-bottom: 2px white solid;
}

.main li {
    position: relative;
    text-decoration: none;
    list-style: none;
    text-align: left;
    width: fit-content;
    height: 15px;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    border-bottom: none;
}

.main li.selected {
    border-bottom: #e03c3c 2px solid;
}

.window-wrap {
    width: 100%;
    height: fit-content;
    overflow: auto;
    /* margin-bottom: 140px; */
}

.input-email {
    padding: 0px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 50%;
    height: fit-content;
    background-color: white;
    box-shadow: 2px 2px 5px #e0e0e0;
}

.input-email h2 {
    width: 36%;
    margin-left: 32%;
    margin-right: 32%;
    margin-top: 40px;
    margin-bottom: 60px;
    display:inline-block;
}

.input-email label {
    margin: 0px;
    margin-left: 10%;
}

.input-email input {
    margin: 1%;
    margin-left: 10%;
    height: 30px;
    width: 70%;
    border: none;
    border-bottom: 1px solid #707070;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    color: #707070;
}

.input-email .check-btn {
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 20%;
    padding: 10px;
    background-color: #e03c3c;
    border: none;
    outline: none;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.input-email .check-btn:hover {
    opacity: 0.8;
}










.veri-code {
    display: none;
    padding: 0px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 50%;
    height: fit-content;
    background-color: white;
    box-shadow: 2px 2px 5px #e0e0e0;
}

.veri-code h2 {
    width: 100%;
    text-align: center;
    color: #e03c3c;
    display:inline-block;
}

.veri-code p {
    margin: 0;
    margin-top: 30px;
    width: 100%;
    text-align: center;
    display:inline-block;
}

.resend {
    font-size: 12px;
}

.resend a {
    color: #707070;

}

.btns {
    display: flex;
    width: 55%;
    margin: 0 auto;
}

.btns .check-btn {
    flex: 1;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    background-color: #e03c3c;
    border: none;
    outline: none;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.btns .check-btn:hover {
    opacity: 0.8;
}







.new-pw {
    display: none;
    padding: 0px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 50%;
    height: fit-content;
    background-color: white;
    box-shadow: 2px 2px 5px #e0e0e0;
}

.new-pw h2 {
    width: 26%;
    margin-left: 37%;
    margin-right: 37%;
    margin-top: 40px;
    margin-bottom: 60px;
    display:inline-block;
}

.new-pw label {
    margin: 0px;
    margin-left: 10%;
}

.new-pw input {
    margin: 1%;
    margin-left: 10%;
    margin-bottom: 20px;
    height: 30px;
    width: 70%;
    border: none;
    border-bottom: 1px solid #707070;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    color: #707070;
}

.new-pw .check-btn {
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 20%;
    padding: 10px;
    background-color: #e03c3c;
    border: none;
    outline: none;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.new-pw .check-btn:hover {
    opacity: 0.8;
}

#error {
    font-size: 12px;
    display: none;
    color: #e03c3c;
    margin: 5px;
    margin-left: 10%;
}

#warning {
    font-size: 12px;
    display: none;
    color: #e03c3c;
    margin: 5px;
    margin-left: 10%;
}

/* input:invalid {
    background-color: #fce9e9;
} */